/* CSS Document */
* {
  font-family: monospace;
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease; }

body {
  margin: 0; }

a {
  text-decoration: none; }

a:hover, a:visited {
  text-decoration: none; }

.hr--seperator {
  color: #fcfcfc33;
  max-width: 95%; }

.star--clicked {
  color: #FFB74D;
}

.star--not-clicked {
  color: #777;
}

/* ----------- */
ul, li {
  color: #333;
  margin: 0px; }

a img {
  border: none 0px #fff; }

#maincontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 70px;
  background-color: #f3f3f3;
  min-height: 100%; }

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFB74D;
  color: #5a5353;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-transform: uppercase; }

#footer p, #footer a {
  font-size: 1em; }

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  max-height: 70px;
  background-color: #FB8C00;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  webkit-box-shadow: 0 10px 6px -6px #777;
  -webkit-box-shadow: 0 10px 15px -6px #777;
          box-shadow: 0 10px 15px -6px #777; }

nav h1 {
  margin: auto;
  line-height: 70px; }

nav h1 a {
  color: #fff;
  font-size: 30px;
  font-weight: bold; }

#breadcrumb {
  padding: 110px 40px 16px;
  list-style: none;
  background-color: #f3f3f3;
  font-size: 17px;
  margin: 0; }

/* Display list items side by side */
#breadcrumb li {
  display: inline;
  text-shadow: 12px 12px 18px #777; }

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
  text-shadow: 12px 12px 18px #777; }

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #f18200;
  text-decoration: none; }

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #EF6C00; }

/* ====================== Map ====================== */
#id--map {
  position: -webkit-sticky !important;
  position: sticky !important;
  height: 400px;
  width: 100%;
  background-color: #ccc; }

/* ====================== Font Awesome ====================== */
/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.fa-star:before{content:"\f005"}


