@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
	font-family: 'Quicksand', monospace;
	font-size: 20px;
	box-sizing: border-box;
	transition: 0.3s ease;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

a:hover, a:visited {
	text-decoration: none;
}

.hr--seperator {
	color: #fcfcfc33;
	max-width: 95%;
}

/* ----------- */

ul, li {
	color: #333;
	margin: 0px;
}

a img{
	border: none 0px #fff;
}

#maincontent {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding-top: 70px;
	background-color: #f3f3f3;
	min-height: 100%;
}

#footer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #FFB74D;
	color: #5a5353;
	font-size: 8pt;
	letter-spacing: 1px;
	padding: 25px;
	text-transform: uppercase;
}

#footer p, #footer a {
	font-size: 1em;
}

/* ====================== Navigation ====================== */
nav {
	width: 100%;
	max-height: 70px;
	background-color: #FB8C00;
	text-align:center;
	position: fixed;
	top: 0;
	z-index: 1000;
	webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 15px -6px #777;
}

nav h1 {
	margin: auto;
	line-height: 70px;
}

nav h1 a {
	color: #fff;
	font-size: 30px;
	font-weight: bold;
}

#breadcrumb {
    padding: 110px 40px 16px;
    list-style: none;
    background-color: #f3f3f3;
    font-size: 17px;
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
	text-shadow: 12px 12px 18px #777;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
	text-shadow: 12px 12px 18px #777;
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #f18200;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #EF6C00;
}

/* ====================== Map ====================== */
#id--map {
	position: sticky !important;
	height: 400px;
	width: 100%;
	background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: #FB8C00;
	align-items: center;
}

.filter-options h2 {
	color: white;
	font-size: 1.25rem;
	font-weight: bold;
	line-height: 1.5;
	margin: 0 20px;
}

.filter-options select {
	border: none;
	font-weight: bold;
	font-size: 0.85rem;
	height: 35px;
	margin: 10px 10px 10px 20px;
	padding: 0 10px;
	width: 200px;
	border-radius: 5px;
}

/* ====================== Restaurant Listing ====================== */
#id--restaurants-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: #FFE0B2;
	list-style: outside none none;
	padding: 30px 15px 60px;
	text-align: center;
}

#id--restaurants-list li {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #fff;
	border: 2px solid #FFB74D;
	margin: 25px 40px 40px 40px;
	min-height: 380px;
	padding: 2% 7% 2%;
	max-width: 100%;
	border-radius: 30px 0px 30px 30px;
	box-shadow: 1em 1em 2.5em 0em #777;
}

#id--restaurants-list .restaurant-img {
	background-color: #ccc;
	border: 2px solid #FFB74D;
	margin: 3% auto 2% auto;
	max-width: 100%;
	min-height: 248px;
	border-radius: 30px 0px 30px 30px;
}

#id--restaurants-list li h2 {
	color: #f18200;
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 0.5;
	line-height: 1.3;
	margin: 20px 0 10px;
	text-transform: uppercase;
}

#id--restaurants-list p {
	margin: 0;
}

#id--restaurants-list li button {
	background-color: orange;
	border-bottom: 3px solid #eee;
	color: #fff;
	margin: 15px 0 0;
	padding: 8px 30px 10px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	font-size: .9em;
	border-radius: 30px 0px 30px 30px;
	border: 2px solid #FFB74D;
}

.leaflet-container a {
	font-size: 11px;
}
/* ====================== Restaurant Details ====================== */


/* ---------- */

#id--restaurant-maincontent {
	background-color: #f3f3f3;
	min-height: 100%;
	padding-top: 30px;
}

.inside header {
	width: 100%;
	height: 70px;
}

.inside #map-container {
	background: blue none repeat scroll 0 0;
	height: 90%;
	position: fixed;
	right: 0;
	top: 75px;
	width: 50%;
}

.inside #map {
	background-color: #ccc;
	height: 100%;
	width: 100%;
	box-shadow: -.5em 1em 1.9em 0em #777;
	border: 2px solid #FFB74D;
}

.inside #footer {
	bottom: 0;
	width: 50%;
}

#restaurant-name {
	color: #f18200;
	font-size: 1.8em;
	font-weight: 200;
	margin: 65px 0 30px;
	text-transform: uppercase;
	line-height: 1.1;
	text-shadow: 12px 12px 18px #777;
}

#restaurant-img {
	margin: 3% auto 2% auto;
	max-width: 100%;
	min-height: 248px;
	border-radius: 30px 0px 30px 30px;
	box-shadow: 1em 1em 2.5em 0em #777;
	border: 2px solid #FFB74D;
}

#restaurant-address {
	font-size: 1.1em;
	text-align: center;
	margin: 60px 0px 50px;
	text-shadow: 12px 12px 18px #777;
}

#restaurant-cuisine {
	border: 2px solid #FFB74D;
	background-color: #333;
	color: #ddd;
	font-size: 0.95em;
	font-weight: 300;
	letter-spacing: 10px;
	padding: 2px 0;
	text-align: center;
	text-transform: uppercase;
	border-radius: 30px 0px 30px 30px;
	box-shadow: 1em 1em 2.5em 0em #777;
	min-width: 100%;
}

#restaurant-container, #reviews-container {
	padding: 0px 40px 30px;
	width: 50%;
}

#reviews-container {
	padding: 30px 40px 80px;
}

#reviews-container h2 {
	color: #f58500;
	font-size: 24pt;
	font-weight: 300;
	letter-spacing: -1px;
	padding-bottom: 1pt;
}

#reviews-list {
	margin: 0;
	padding: 0;
}

#reviews-list li {
	background-color: #fff;
	border: 2px solid #FFB74D;
	list-style-type: none;
	margin: 0 0 30px;
	overflow: hidden;
	padding: 30px 20px 30px;
	border-radius: 30px 0px 30px 30px;
	box-shadow: 1em 1em 2.5em 0em #777;
}


#reviews-list li p {
	margin: 0 0 10px;
}

#reviews-list li small {
	margin: 0 0 10px;
	font-size: .95em;
	color: #777;
	display: block;
	word-spacing: .2em;
	letter-spacing: .1em;
}

#restaurant-hours {
	min-width: 100%;
	background-color: #fff;
	border-radius: 30px 0px 30px 30px;
	box-shadow: 1em 1em 2.5em 0em #777;
	padding: 30px 20px 30px;
	border: 2px solid #FFB74D;
}

#restaurant-hours td {
	color: #666;
}

#restaurant-hours tr {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

#reviews-container h2 {
	text-shadow: 12px 10px 12px #777;
}

.reviewer-name {
	color: #FF9100;
}

@media only screen and (max-width: 875px) {
	.inside #map-container {
		position: unset;
		height: 400px;
		min-width: 100%;
		font-size: 15px;
		top: 0px;
	}

	#map {
		position: sticky !important;
	}

	#restaurant-container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		min-width: 100%;
	}

	#id--restaurant-maincontent {
		padding-top: 90px;
	}

	#restaurant-cuisine {
		font-size: 1.2em;
	}

	#restaurant-address {
		font-size: 1.3em;
		word-spacing: 7px;
	}

	#reviews-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		min-width: 100%;
	}

	#reviews-list {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	#reviews-list li {
		min-width: 100%;
	}

	.inside #footer {
		width: 100%;
	}
}

@media only screen and (max-width: 665px) {
	.filter-options {
		flex-direction: column;
	}

	.filter-options select {
		font-size: .75em;
		width: 12em;
		height: 30px;
	}

	.filter-options h2 {
		font-size: .9em;
	}

}

@media only screen and (max-width: 575px) {
	#restaurant-hours td {
		font-size: 16px;
	}

	#id--restaurants-list li h2 {
		font-size: 1em;
	}

	#id--restaurants-list li button {
		font-size: .8em;
	}

	#id--restaurants-list li p {
		font-size: .9em;
	}

}

@media only screen and (max-width: 487px) {
	#restaurant-hours td {
		font-size: 12px;
	}

	#restaurant-name {
		font-size: 1.3em;
	}

	#restaurant-cuisine {
		font-size: .8em;
	}

	#restaurant-address {
		font-size: 1em;
	}

	nav h1 a {
		font-size: 22px;
	}

	#reviews-list li p {
		font-size: .9em;
	}

	#reviews-list li small {
		font-size: .8em;
	}

	#id--restaurants-list li h2 {
		font-size: .8em;
	}

	#id--restaurants-list li p {
		font-size: .7em;
	}

	#id--restaurants-list li small {
		font-size: .7em;
	}

	#id--restaurants-list li button {
		padding: 6px 15px 6px;
	}
}

@media only screen and (max-width: 450px) {
	#id--restaurants-list li {
		margin-left: 10px;
		margin-right: 10px;
	}

	#footer {
		flex-direction: column;
	}
}

@media only screen and (max-width: 400px) {
	#restaurant-hours td {
		font-size: 10px;
	}

	#restaurant-address {
		font-size: .8em;
	}

	#reviews-list li p {
		font-size: .7em;
	}

	#reviews-list li small {
		font-size: .7em;
	}

	#id--restaurants-list li button {
		font-size: .7em;
	}
}
